RewriteEngine On
RewriteRule ^userprofile/([0-9]+)/([^/]+)$ userprofile.php?id=$1&nom=$2 [L]

RewriteRule ^askquestion$ askquestion.php [L]

RewriteRule ^question$ question.php [L]

RewriteRule ^tags$ tags.php [L]

RewriteRule ^userlist$ userlist.php [L]

RewriteRule ^category$ category.php [L]

RewriteRule ^detailsquestion/([0-9]+)/([^/]+)$ detailsquestion.php?id=$1&nom=$2 [L]

RewriteRule ^index$ index.php [L]

RewriteRule ^usereditprofile$ usereditprofile.php [L]